.img-margin {
  /*margin: 260px;  Adjust margins as needed */
  margin-top: 35%;
 
}

.main{
  background-color: white;
}

.login-box {
  margin-top: 300px!important;
}

.css-2ulfj5-MuiTypography-root {
  margin: 0px!important;;
}

.login-btn {
  border-radius: 26px!important;
  height: 4em;
}

.login-btn:hover {
  background-color: var(--primary-color)!important;
}

.login-link{
  margin-left:250px!important;
  color: black!important; 
  font-size: 20px!important;
  
}

.login-header {
  font-weight: bold!important;
  
  
}