.tableRow-root {
  border-radius: "30px"!important;
  background-color: 'red'!important;
}

.tableCell-root {
  background-color: 'transparent'!important;
  color:'red'!important
}




/*.MuiTableRow-root {
  background-color: red!important;
  border-radius: '36px'!important;
  margin:'30px'!important;
  padding: '30px';
}*/

.customTable { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
  margin-top: -10px; /* correct offset on first border spacing if desired */
  background-color: 'red';
}
.table-th{
  font-size: large!important;
  font-weight: bold!important;
  color:#000000!important;
  width: 50px!important;
  background-color: #f5f6fa!important;
}

.table-header {
  background-color: #f5f6fa!important;
  /* background-color: lightgray!important; */
  border-radius: 10px;
}

.table-row{
  
  /* box-shadow: -3px 4px 7px -3px #00000040!important; */
  /* background-color: #fff!important;   */
  border-left: 10px;
  height: 78px !important;
  border-radius: 0 0 5px 5px; 
  box-shadow: -3px 4px 7px -3px #00000040; 
}

.css-1ex1afd-MuiTableCell-root{
  background-color: transparent!important;
  color: var(--navbar-color)!important;
  width: 50px!important;
  color: var(--primary-blue);
  letter-spacing: 0!important;
  opacity: .6!important;
  white-space: nowrap;
  font-family: DM Sans, Helvetica!important;
  font-size: 18px!important;
  font-weight: 400!important;
  line-height: 18px!important;
}

.table-td{ 
  /* box-shadow: -4px 4px 9px -3px #00000040; */
  border-top: transparent!important;  
  background-color: transparent!important;
  color: var(--navbar-color)!important;
  width: 50px!important;
  color: var(--primary-blue);
  letter-spacing: 0!important;
  opacity: .6!important;
  white-space: nowrap;
  font-family: DM Sans, Helvetica!important;
  font-size: 18px!important;
  font-weight: 400!important;
  line-height: 18px!important;
  border:none!important;
  /* border-right: transparent!important; 
  border-bottom:  transparent!important;  */
  
}
.customTable-td {
  /* box-shadow: -3px 4px 7px -3px #00000040!important; */
  /* background-color: #fff!important; */
  background-color: transparent!important;
  width: 1245px;
  height: 62px;
  position: relative;
  /* border: solid 5px #f0f0f0; */
  /* border-style: solid none; */
  margin-bottom: 20px;
  /* background-color: transparent!important; */
  /* background-color: var(--background-color); */
  /* height: 80px; */
  /* font-size: medium!important;
  font-family: "DM Sans", sans-serif!important;
  color:var(--headings-text-color)!important; */

  color: var(--primary-blue);
  letter-spacing: 0!important;
  opacity: .6!important;
  white-space: nowrap;
  font-family: DM Sans, Helvetica!important;
  font-size: 18px!important;
  font-weight: 400!important;
  line-height: 18px!important;
  

}
.customTable-td:first-child {
  border-left-style: solid;
  border-top:transparent!important;
  /* border-radius: 0 0 5px 5px;  */
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}
.customTable-td:last-child {
  border-right-style: solid;
  /* border-radius: 0 0 5px 5px;  */
  border-bottom-right-radius: 15px; 
  border-top-right-radius: 15px; 
  
}

.table-row {
  background-color:transparent!important;
}

.table-row:hover td {
  background-color:var(--primary-blue)!important;
  cursor: pointer;
  color:#FFFFFF!important;
}



.table-th:first-child {
  /* border-left-style: solid;
  border-top-left-radius: 15px; 
  border-bottom-left-radius: 15px; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);  */
}
.table-th:last-child {
  /* border-right-style: solid;
  border-bottom-right-radius: 15px; 
  border-top-right-radius: 15px;  */
  
}

.text-wrapper-tableheader {
  color: #535353;
  letter-spacing: 0;
  white-space: nowrap;
  font-family: DM Sans, Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  /* position: absolute;
  top: -1px; */
  left: 0;
}

.text-wrapper-td {
  color: var(--primary-blue);
  letter-spacing: 0;
  opacity: .6;
  white-space: nowrap;
  font-family: DM Sans, Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  top: 3px;
  left: 4px;
}