.mainHeader{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
.error {
    color:red;
}

.container{    
    min-width: 1200px;
    max-width: 1200px;
}

.vertical-center {
    margin: 0 auto;
    width:100%
 }
 .ml{
    margin-left: 52px;
 }
 .ml1{
    margin-top: 38px;
  margin-left: 14px;
 }
 .ml2{
    margin-left: 22px;
 }
 .ml3{
    margin-left: 13px;
 }

 .uppercase-input {
   text-transform: uppercase;
 }