:root {
    --primary-background-color:#d0e4fd;
    --primary-color: #007bff;
    --secondary-color: #ffc107;
    --text-color: #212529;
    /* Add other global colors as needed */
  }

  .error-message {
    text-align: center;
    color: red;
    font-size: medium;
  }